
      a:visited{
         color:orange;
         background-color:transparent;
         text-decoration:none;
      }

      a:link{
         color:orange;
         background-color:transparent;
         text-decoration:none;
      } 


     label {
        display: inline-block;
        width: 150px;
        color: #0;
      }
      input {
        padding: 5px 10px;
      }
     #text{

		height: 30px;
		border-radius: 5px;
		padding: 4px;
		border: solid thin #000;
		width: 40%;
	}

   .txt_input{

		height: 30px;
		border-radius: 5px;
		padding: 4px;
		border: solid thin #000;
		width: 40%;
	}

   select{

		height: 30px;
		border-radius: 5px;
		padding: 4px;
		border: solid thin #000;
		width: 40%;
	}

     #button1{

		padding: 10px;
		width: 200px;
                height:50px;
		color: black;
                background-color: #18B49F;
                font-size: 20px;
		border: none;
                margin-left:10%;   

	}


 #button2{

		padding: 10px;
		width: 200px;
                height:50px;
		color: black;
                background-color: #18B49F;
                font-size: 20px;
		border: none;
                margin-left:10%;   

	}

     #box{

                background-color: #000;
                color: white;
		margin: auto;
		width: 700px;
		padding: 50px;
	}
    
     .require {color: #FF0000;}



